<ngcs-graph id="graph-1">
    <ng-container *ngFor="let node of nodes | async">
        <div #theNode class="node ngcs-node" [attr.id]="node.idString" [style.left]="node.uiProps.position.x+'px'"
            [style.top]="node.uiProps.position.y+'px'">
            <span class="header" ngcsDraggable [dragElement]="theNode" (dragContinued)="updateNodePosition(node, $event)">
                {{ node.name }}
            </span>
            <div class="sockets">
                <div class="inputs">
                    <span class="socket" *ngFor="let socket of node.inputs" [ngcsDraggable]="socket" (dragStarted)="initConnectionFrom(socket, $event)"
                        (dragContinued)="movingConnection($event)" (dragEnded)="abortConnection()" [ngcsDroppable]="isOutputSocket"
                        (draggableDropped)="addConnection(socket, $event)">
                        {{ socket.name }}
                        <ngcs-port [id]="socket.idString" class="left middle"></ngcs-port>
                    </span>
                </div>
                <div class="outputs">
                    <span class="socket" *ngFor="let socket of node.outputs" [ngcsDraggable]="socket" (dragStarted)="initConnectionFrom(socket, $event)"
                        (dragContinued)="movingConnection($event)" (dragEnded)="abortConnection()" [ngcsDroppable]="isInputSocket"
                        (draggableDropped)="addConnection($event, socket)">
                        {{ socket.name }}
                        <ngcs-port [id]="socket.idString" class="right middle"></ngcs-port>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let connection of connections | async">
        <ngcs-connection [from]="connection.outputSocket.idString" [to]="connection.inputSocket.idString" [drawStyle]="connectionDrawStyle | async">
        </ngcs-connection>
    </ng-container>

    <ng-container *ngIf="newConnection">
        <ngcs-connection [from]="newConnection.outputSocket.idString" [to]="newConnection.inputSocket.idString"
            [drawStyle]="connectionDrawStyle | async">
        </ngcs-connection>
        <div style="position: absolute" [style.left]="newConnectionEndpoint.x+'px'" [style.top]="newConnectionEndpoint.y+'px'">
            <ngcs-port [id]="newTargetSocket.idString" class="right middle"></ngcs-port>
        </div>
    </ng-container>
</ngcs-graph>
