@import "app/variables";

::ng-deep .ngcs-connection {
    fill: none;
    stroke: white;
    stroke-width: 2;

    &.selected {
        stroke: $accent;
        stroke-width: 3;
    }
}

::ng-deep .ngcs-connection:hover {
    cursor: pointer;
    stroke: red;
}
