@import "app/variables";

::ng-deep .ngcs-connection {
    fill: none;
    stroke: white;
    stroke-width: 2;

    &.selected {
        stroke: $accent;
        stroke-width: 3;
    }

    &.write-link {
        marker-start: url(#markerCurvedArrowS);
    }
    &.get-link {
        marker-end: url(#markerCurvedArrowE);
    }
}

::ng-deep .ngcs-connection:hover {
    cursor: pointer;
    stroke: red;
}
