<h2 class="mat-title title">Inspector</h2>
<mat-icon id="closeButton" (click)="closeInspector()">close</mat-icon>
<mat-divider class="title-devider"></mat-divider>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Bla bla
    </mat-panel-title>
    <mat-panel-description>
      Type your name and age
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Bla bla
    </mat-panel-title>
    <mat-panel-description>
      Type your name and age
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
    <mat-list-item>
      <mat-slider></mat-slider>
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>
