@import 'app/variables';

:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  background: $general-background-color;
}

.mat-drawer-container {
  position: relative;
  background: transparent;

  .mat-drawer-content {
    overflow: hidden;
  }

  .mat-drawer {
    padding: 1rem;
    background: mat-color($general-background, 600, 0.9);
  }
}

.sidenav-container {
  height: 100%;
}

.mat-tab-link {
  min-width: 0;
}
