:host {
  //height: 100%;

  // display: flex;
  // flex-direction: column;
}
.mat-drawer-container {
  background: transparent;

  .mat-drawer-content {
    overflow:hidden;
  }
}

.sidenav-container {
  height: 100%;
}
