
@font-face {
    font-family: 'Fira Mono';
    src: url('assets/fonts/Fira_Mono/woff/FiraMono-Medium.woff2') format('woff2'),
        url('assets/fonts/Fira_Mono/woff/FiraMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('assets/fonts/Fira_Mono/woff/FiraMono-Regular.woff2') format('woff2'),
        url('assets/fonts/Fira_Mono/woff/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('assets/fonts/Fira_Mono/woff/FiraMono-Bold.woff2') format('woff2'),
        url('assets/fonts/Fira_Mono/woff/FiraMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Thin.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Black.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Italic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Regular.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Light.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Bold.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('assets/fonts/Fira_Sans/woff/FiraSans-Medium.woff2') format('woff2'),
        url('assets/fonts/Fira_Sans/woff/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

