@import '~@angular/material/theming';

// Palettes and Theme
$app-primary: mat-palette($mat-pink, 700, 500, 900);
$app-secondary: mat-palette($mat-light-blue, 600, 400, 800);
$app-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Colors
$primary: mat-color($app-primary);
$secondary: mat-color($app-secondary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// Fonts
$app-typography: mat-typography-config(
  $font-family: '"Fira Sans", sans-serif;'
);

$app-graph-typography: mat-typography-config(
  $font-family: '"Fira Mono", sans-serif;'
);
