/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import 'fonts';
@import 'theme';

// Include non-theme styles for core.
@include mat-core();
// Include all theme styles for the components.
@include angular-material-theme($app-theme);

// Fonts
@include mat-core($app-typography);
@include angular-material-typography($app-typography);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
