/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~material-design-icons/iconfont/material-icons.css';
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
