<mat-button-toggle-group [value]="drawStyle | async" (change)="setDrawStyle($event.value)">
  <mat-button-toggle value="direct">
    <mat-icon>border_bottom</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="manhatten">
    <mat-icon>border_all</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="bezier">
    <mat-icon>border_inner</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<ng-container *ngIf="(graph | async) as g">
  <button mat-button (click)="autoLayoutGraph(g)">Layout</button>
</ng-container>
