<mat-toolbar>
  <mat-toolbar-row>
    <mat-menu #fileMenu="matMenu">
      <button mat-menu-item routerLink="/graph/new">
        <mat-icon>add</mat-icon>
        <span>Create new</span>
      </button>
      <button mat-menu-item>
        <mat-icon>mode_edit</mat-icon>
        <span>Open</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="openRecentMenu">
        <span>Open recent</span>
      </button>
    </mat-menu>

    <mat-menu #viewMenu="matMenu">
      <button mat-menu-item [routerLink]="[{ outlets: { drawer: ['inspector'] } }]">
        <mat-icon>zoom_in</mat-icon>
        <span>Inspector</span>
      </button>
      <button mat-menu-item [routerLink]="[{ outlets: { drawer: ['nodes'] } }]">
        <mat-icon>library_add</mat-icon>
        <span>Add nodes</span>
      </button>
      <button mat-menu-item [routerLink]="[{ outlets: { drawer: ['lines'] } }]">
        <mat-icon>timeline</mat-icon>
        <span>Line Style</span>
      </button>
      <button mat-menu-item [routerLink]="[{ outlets: { drawer: ['backend-test'] } }]">
        <mat-icon>bug_reportmg</mat-icon>
        <span>Backend Test</span>
      </button>
    </mat-menu>

    <mat-menu #openRecentMenu="matMenu">
      <button *ngFor="let graph of graphsMRU | async" mat-menu-item [routerLink]="['graph', graph.id.toString()]">{{ graph.id }}</button>
    </mat-menu>

    <mat-menu #executionMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>play_circle_filled</mat-icon>
        <span>Run</span>
      </button>
      <button mat-menu-item>
        <mat-icon>play_circle_outline</mat-icon>
        <span>Debug</span>
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="fileMenu">
      <mat-icon>insert_drive_file</mat-icon> File
    </button>
    <button mat-button [matMenuTriggerFor]="viewMenu">
      <mat-icon>info</mat-icon> View
    </button>
    <button mat-button [matMenuTriggerFor]="executionMenu">
      <mat-icon>play_arrow</mat-icon> Run
    </button>

  </mat-toolbar-row>
</mat-toolbar>
