@import 'app/variables';

.temp {
    ::ng-deep {
        .ngcs-connection {
            stroke-dasharray: 2;
        }
    }
}

.invalid {
    ::ng-deep {
        .ngcs-connection {
            marker-start: none;
            marker-end: none;
            stroke: $stroke-color-invalid;
        }
    }
}

.invalidity-tooltip {
    position: absolute;
    transform: translate(-50%, 0%);
    pointer-events: none;

    background: rgba(0,0,0,0.4);
    color: $stroke-color-invalid;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding: 1em;
            margin: 0;
        }
    }
}
