{
  "name": "execution-graph-gui",
  "productName": "ExecutionGraphGui",
  "version": "1.0.0",
  "description": "The execution graph native gui application based on electron.",
  "repository": "https://github.com/gabyx/ExecutionGraph",
  "author": "GitHub",
  "license": "MPL 2.0",
  "main": "main.js",
  "dependencies": {
    "argparse": "^1.0.10"
  }
}
