<ng-container *ngIf="isLoading; else fileBrowserContainer">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-container>

<ng-template #fileBrowserContainer>
  <mat-nav-list dense>
    <mat-list-item (click)="openParentDirectory()">
      <h3>Current Directory:</h3>
      <mat-icon class="back-label" aria-label="Goto parent directory." *ngIf="!atRoot">arrow_back</mat-icon>
      <h3 class="title">{{ currentDirectory.path }}</h3>
    </mat-list-item>

    <mat-divider class="title-divider"></mat-divider>

    <a mat-list-item *ngFor="let directory of currentDirectory.directories" (click)="openDirectory(directory)">
      <mat-icon matListIcon class="folder-icon" [class.notEmpty]="notEmpty(directory)">folder</mat-icon>
      <div matLine>
        <div class="row">
          <span class="folder">{{ directory.name }}</span> <span class="prop">{{ directory.size }}</span>
          <span class="prop">{{ directory.modified.toLocaleString() }}</span>
        </div>
      </div>
    </a>

    <mat-divider></mat-divider>

    <a
      mat-list-item
      *ngFor="let file of currentDirectory.files"
      [matMenuTriggerFor]="fileMenu"
      [matMenuTriggerData]="{ f: file }"
    >
      <mat-icon matListIcon>note</mat-icon>
      <div matLine>
        <div class="row">
          <span class="file">{{ file.name }}</span> <span class="prop">{{ file.size }}</span>
          <span class="prop">{{ file.modified.toLocaleString() }}</span>
        </div>
      </div>
    </a>
  </mat-nav-list>

  <mat-menu #fileMenu="matMenu">
    <ng-template matMenuContent let-file="f">
      <button #openButton mat-menu-item [disabled]="!isFileOpenable(file)" (click)="openFile(file)">Open</button>
      <button #deleteButton mat-menu-item [disabled]="!isFileOpenable(file)" (click)="deleteConfirm(file)">
        Delete
      </button>
    </ng-template>
  </mat-menu>
</ng-template>
